/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ff6347; /* Tomato color for hover effect */
}

/* Main content styles */
main {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
    margin-bottom: 0.5em;
}

.section {
    margin-bottom: 2em;
    padding: 1em;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    background: white;
    border-radius: 0.5em;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.75em;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Flex container for heading and button */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container h2 {
    margin: 0;
    padding-right: 1em;
}

/* Button styles */
.btn {
    display: inline-block;
    border-radius: 0.375rem;
    text-decoration: none;
    border: 1px solid #4f46e5;
    background-color: #4f46e5;
    padding: 0.50rem 0.5rem;
    font-weight: bold;
    font-size: 0.875rem;
    color: white;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-left: 0.5em; /* Add space between buttons */
    vertical-align: middle; /* Align the button with text */
}

.btn:hover {
    background-color: transparent;
    color: #4f46e5;
}

.btn-danger {
    
    border-radius: 0.375rem;
    padding: 0.2em 0.5em;
    font-size: 0.875em;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #e53935;
}

.btn-sm {
    border-radius: 0.375rem;
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-size: 0.875em;
    text-decoration: none;
    border: 1px solid #4f46e5;
    background-color: #4f46e5;
    color: white;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn:focus {
    outline: none;
}

.btn:active {
    color: #4338ca;
}

/* Responsive styles */
@media (max-width: 768px) {
    header nav a {
        margin: 0 0.5em;
    }

    main {
        padding: 0.5em;
    }

    .section {
        margin-bottom: 1em;
        padding: 0.5em;
    }

    th, td {
        padding: 0.5em;
    }

    .btn {
        padding: 0.5rem 0.75rem;
    }

    .btn-sm {
        padding: 0.1em 0.3em;
    }

    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .flex-container h2 {
        margin-bottom: 0.5em;
    }

    .button-container {
        justify-content: center; /* Center buttons on small screens */
    }
}
.error {
    color: #e74c3c;
    font-size: 0.875rem;
}
