/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ff6347; 
}


main {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
    margin-bottom: 0.5em;
}

.section {
    margin-bottom: 2em;
    padding: 1em;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    background: white;
    border-radius: 0.5em;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.75em;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}


.button-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 1em;
}

.btn {
    display: inline-block;
    border-radius: 0.375rem;
    text-decoration: none;
    border: 1px solid #4f46e5;
    background-color: #4f46e5;
    padding: 0.50rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-left: 0.5em; 
}

.btn:hover {
    background-color: transparent;
    color: #4f46e5;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #e53935;
}

.btn-sm {
    padding: 0.2em 0.5em;
    font-size: 0.875em;
}

.btn:focus {
    outline: none;
}

.btn:active {
    color: #4338ca;
}

/* Responsive styles */
@media (max-width: 768px) {
    header nav a {
        margin: 0 0.5em;
    }

    main {
        padding: 0.5em;
    }

    .section {
        margin-bottom: 1em;
        padding: 0.5em;
    }

    th, td {
        padding: 0.5em;
    }

    .btn {
        padding: 0.5rem 0.75rem;
    }

    .btn-sm {
        padding: 0.1em 0.3em;
    }

    .button-container {
        justify-content: center;
    }
}
