{% extends 'base.html' %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
<h1 class="h1edit">Add Transaction</h1>
<form action="{{ url_for('transaction.add_transaction') }}" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.amount.label }}
        {{ form.amount(class="editform")}}
        {% for error in form.amount.errors %}
            <span class="error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.category.label }}
        {{ form.category(class="editform") }}
        {% for error in form.category.errors %}
            <span class="error">[{{ error }}]</span>
        {% endfor %}
    </div>
  
    <div>
        <p> {{ form.submit(class="addButton") }}</p>
    </div>
</form>
{% endblock %}
