{% extends "base.html" %}

{% block title %}Edit Budget{% endblock %}

{% block content %}
<h1 class="h1edit">Edit Budget</h1>
<form  action="{{ url_for('main.edit_budget', budget_id=budget_id) }}" method="post">
    {{ form.hidden_tag() }}
    <p >
        {{ form.category.label }}<br>
        {{ form.category(class="editform") }}<br>
        {% for error in form.category.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.amount.label }}<br>
        {{ form.amount(class="editform") }}<br>
        {% for error in form.amount.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p><input type="submit" value="Update Budget" class="btn btn-primary"></p>
</form>
{% endblock %}
