<!-- homepage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Your App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome VividFin</h1>
        </header>
        <section>
            <p>Track your finances </p>
            <div class="button-group">
                <a href="{{ url_for('user.login') }}" class="btn">Log In</a>
                <a href="{{ url_for('user.register') }}" class="btn">Register</a>
            </div>
        </section>
    </div>
</body>
</html>
