{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}

<div class="flex flex-col gap-5">
  <div>
    <h1
      class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-4xl dark:text-white"
    >
      Welcome,<span class="text-blue-600 dark:text-blue-500"
        >{{ current_user.username }}!</span
      >
    </h1>
  </div>

  <div
    class="relative overflow-x-auto overflow-y-auto max-height-sm sm:rounded-lg border-2 border-black bg-blue-50"
  >
    <div class="py-5 items-center justify-between gap-5 lg:flex">
      <div class="lg:flex items-center gap-5 ">
        <h1 class="text-2xl mb-4 md:mb-0 md:text-4xl lg:text-4xl font-bold dark:text-white">Recent Transactions</h1>
        <div>
          <a 
            href="{{ url_for('transaction.add_transaction') }}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Add Transaction</a
          >
        </div>
       
        
      </div>
    
    </div>

    <table
      class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100 {% if transactions|length == 0 %}hidden{% endif %}"
    >
      <thead
        class="text-xs text-white uppercase bg-blue-600 border-b border-blue-400 dark:text-white"
      >
        <tr class="text-1xl ">
          <th scope="col" class="px-6 py-3">Category</th>
          <th scope="col" class="px-6 py-3 bg-blue-500 ">Date</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3 bg-blue-500">Actions</th>
        </tr>
      </thead>
      <tbody class="">
        {% for transaction in transactions[:5] %}
        <tr class="bg-blue-600 border-b border-blue-400">
          <td class="px-6 py-4">{{ transaction.category }}</td>
          <td class="px-6 py-4 bg-blue-500">
            {{ transaction.date.strftime('%Y-%m-%d') }}
          </td>
          <td class="px-6 py-4">${{ transaction.amount }}</td>
          <td class="px-6 py-4 bg-blue-500">
            <form
              action="{{ url_for('transaction.delete_transaction', transaction_id=transaction.id) }}"
              method="post"
              style="display: inline"
            >
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <input
                type="submit"
                value="Delete"
                class="font-medium text-white hover:underline cursor-pointer"
              />
            </form>
            <a
              href="{{ url_for('transaction.edit_transaction', transaction_id=transaction.id) }}"
              class="font-medium text-white hover:underline cursor-pointer"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tr class="text-1xl bg-blue-500 text-2xl">
        <th scope="col" class="px-6 py-3">Total</th>
        <th scope="col" class="px-6 py-3 bg-blue-500"></th>
        <th scope="col" class="px-6 py-3">${{ total_transactions_amount }}</th>
        <th scope="col" class="px-6 py-3 bg-blue-500"></th>
      </tr>
    </table>
  </div>
  <!-- -----------------------------------------------------------------------------------------  -->
  <div
    class="relative overflow-x-auto shadow-lg sm:rounded-lg border-2 bg-green-100 border-black"
  >
    <div class="py-5 items-center justify-start gap-5 lg:flex">
      <div class="lg:flex items-center gap-5 ">
        <h1 class="text-2xl mb-4 md:mb-0 md:text-4xl lg:text-4xl font-bold dark:text-white">Budget</h1>
        <a
        href="{{ url_for('budget.add_budget') }}"
        class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Add Budget</a
      >
      </div>
    </div>

    <table
      class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100 {% if budgets|length == 0 %}hidden{% endif %} "
    >
      <thead
        class="text-xs text-white uppercase bg-green-600 border-b border-green-400 dark:text-white"
      >
        <tr class="text-1xl">
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3 bg-green-500">Category</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for budget in budgets %}
        <tr class="bg-green-600 border-b border-green-400">
          <td class="px-6 py-4">${{ budget.amount }}</td>
          <td class="px-6 py-4 bg-green-500">{{ budget.category }}</td>
          <td class="px-6 py-4">
            <form
              action="{{ url_for('budget.delete_budget', budget_id=budget.id) }}"
              method="post"
              style="display: inline"
            >
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <input
                type="submit"
                value="Delete"
                class="font-medium text-white hover:underline cursor-pointer"
              />
            </form>
            <a
              href="{{ url_for('budget.edit_budget', budget_id=budget.id) }}"
              class="font-medium text-white hover:underline cursor-pointer"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- -------------------------------------------------------------------------------------------- -->

  <div
    class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-purple-200 border-2 border-black"
  >
    <div class="py-5 items-center justify-start gap-5 lg:flex">
      <div class="lg:flex items-center gap-5 ">
        <h1 class="text-2xl mb-4 md:mb-0 md:text-4xl lg:text-4xl font-bold dark:text-white">Savings</h1>
        <a
          href="{{ url_for('savings_goal.add_savings_goal') }}"
          class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
          >Add Savings</a
        >
      </div>
      
    </div>

    <table
      class="w-full text-sm text-left rtl:text-right text-purple-100 dark:text-purple-100 {% if savings_goals|length == 0 %}hidden{% endif %} "
    >
      <thead
        class="text-xs text-white uppercase bg-purple-600 border-b border-purple-400 dark:text-white"
      >
        <tr class="text-1xl">
          <th class="px-6 py-3">Goal</th>
          <th class="px-6 py-3 bg-purple-500">Amount</th>
          <th class="px-6 py-3">Current Amount Saved</th>
          <th class="px-6 py-3 bg-purple-500">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for goal in savings_goals %}
        <tr class="bg-purple-600 border-b border-purple-400">
          <td class="px-6 py-4 ">{{ goal.goal }}</td>
          <td class="py-6 py-4 bg-purple-500">${{ goal.amount }}</td>
          <td class="px-6 py-4">${{ goal.current_amount }}</td>
          <td class="px-6 py-4 bg-purple-500">
            <form
              action="{{ url_for('savings_goal.delete_savings_goal', savings_goal_id=goal.id) }}"
              method="post"
              style="display: inline"
            >
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <input
                type="submit"
                value="Delete"
                class="cursor-pointer font-medium text-white hover:bg-red-600 "

              />
            </form>
            
            <a
              href="{{ url_for('savings_goal.edit_savings_goal', savings_goal_id=goal.id) }}"
              class="font-medium text-white hover:underline cursor-pointer"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
