{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<h1 class="p-6 text-5xl font-extrabold dark:text-white">Welcome, {{ current_user.username }}!</h1>


<div class="section">
    <div class="flex-container">
        <h2>Transactions</h2>
        <a href="{{ url_for('transaction.add_transaction') }}" class="btn">Add Transaction</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>${{ transaction.amount }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                <td>
                    <form action="{{ url_for('transaction.delete_transaction', transaction_id=transaction.id) }}" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    <a href="{{ url_for('transaction.edit_transaction', transaction_id=transaction.id) }}" class="btn btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <th>Total: ${{ total_transactions_amount }}</th>
        </tfoot>
    </table>
</div>

<div class="section">
    <div class="flex-container">
        <h2>Budgets</h2>
        <a href="{{ url_for('budget.add_budget') }}" class="btn">Add Budget</a>
    </div>
   
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr>
                <td>${{ budget.amount }}</td>
                <td>{{ budget.category }}</td>
                <td>
                    <form action="{{ url_for('budget.delete_budget', budget_id=budget.id) }}" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    <a href="{{ url_for('budget.edit_budget', budget_id=budget.id) }}" class="btn btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <th>Total: ${{ total_transactions_amount }}</th>
        </tfoot>
    </table>
</div>

<div class="section">
    <div class="flex-container">
        <h2>Savings Goals</h2>
        <a href="{{ url_for('savings_goal.add_savings_goal') }}" class="btn">Add Savings Goal</a>
    </div>
   
    <table>
        <thead>
            <tr>
                <th>Goal</th>
                <th>Amount</th>
                <th>Current Amount Saved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in savings_goals %}
            <tr>
                <td>{{ goal.goal }}</td>
                <td>${{ goal.amount }}</td>
                <td>${{ goal.current_amount }}</td>
                <td>
                    <form action="{{ url_for('savings_goal.delete_savings_goal', savings_goal_id=goal.id) }}" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    <a href="{{ url_for('savings_goal.edit_savings_goal', savings_goal_id=goal.id) }}" class="btn btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock %}
