{% extends "base_2.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="max-w-sm mx-auto h-screen mt-5">
    <h1 class="mb-3 font-bold text-2xl">Login</h1>
    <div>
        
        <form class="" action="{{ url_for('user.login') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-1">
                {{ form.username.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{ form.username(class_="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}<br>
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-1">
                {{ form.password.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}<br>
                {{ form.password(class_="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}<br>
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="flex items-start mb-5">
              <div class="flex items-center h-5">
                {{ form.remember_me(class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800") }}
              </div>
                
                {{ form.remember_me.label(class_="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300") }}
            </div>
            <div class="button-group">
                {{ form.submit(class_="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") }}
            </div>
        </form>
        <p class="py-5">Don't have an account? <a class="font-bold" href="{{ url_for('user.register') }}">Register here</a>.</p>

        <div class="lg:flex flex-col p-2 rounded-lg border-blue-500 bg-blue-200">
            <h1 class="mb-3 font-bold text-2xl">Demo Account</h1>
            <h2 class="mb-3 font-bold text-1xl">username</h2>
            <p class="mb-3 text-lg">test123</p>
            <h2 class="mb-3 font-bold text-1xl">2207</h2>
            <p>22207</p>
        </div>
      </div>


{% endblock %}

